<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Phonebook</title>

    <style>   
        body {
            background-image: linear-gradient(grey, black); 
            height: 980px;   
        } 
        #app {
            width: 60%;
        }
        input {
            float:left;
        }
        .inpClass {
            width: 250px;
        }
        .btnClass {
            width: 100px;
        }
        label {
            float: left;
            margin-right: 1%;
            margin-left: 1%;
        }
        .table-bordered {
            width: 1000px;
        }
    </style>

</head>
<body>
    <div id="app">
        <form  @submit.prevent="addContact">
            <label>Name</label>
            <p><input class="inpClass" v-model="newContact.name"></p>  
            <label>Last name</label> 
            <p><input class="inpClass" v-model="newContact.lastName"></p> 
            <label>Phone</label>  
            <p><input class="inpClass" v-model="newContact.phone"></p>   
            <button class="btnClass" type="submit">Create</button>  
        </form>
        <div id="second-fields">
            
                 
                      
        </div> 
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">#</th>
                
                <th><input class="inpClass" v-model="searchByName" type="text"></p></th>
                
                <th><p><input class="inpClass" v-model="searchByLastName" type="text"></p></th>
                
                <th><p><input class="inpClass" v-model="searchByPhone" type="number"></p></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for= "(contact, index) in filteredContacts" v-key= "index">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ contact.name }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.phone  }}</td>
                </tr>
            </tbody>
        </table> 
    </div>     
</body>
</html>

<script>

    new Vue({
        el: '#app',
        data() {
            return {
                newContact: {
                    name: '',
                    lastName: '',   
                    phone: '',   
                },
                contacts: [],
                searchByName: '',
                searchByLastName: '',
                searchByPhone: '',    
                filteredContacts: []
            }
        },
        methods: {
            addContact() {
                if(this.newContact.name == '' || this.newContact.lastName == '' || this.newContact.phone == '') {   
                    alert('Must be more than two characters');    
                } else {
                    this.contacts.push({
                    name: this.newContact.name,    
                    lastName: this.newContact.lastName,
                    phone: this.newContact.phone      
                    })
                    this.filteredContacts = this.contacts
                    this.searchByName = ''    
                    this.searchByLastName = ''     
                    this.searchByPhone = ''
                    this.newContact = {   
                        name: '',
                        lastName: '',
                        phone: '',
                    }
                }
            },
            searchContacts() {
                this.filteredContacts = this.contacts.filter(contact => {    
                    let found = false;
                    if(this.searchByName.trim()) {
                        found |= contact.name.includes(this.searchByName)    
                    }      
                    if(this.searchByLastName.trim()) {    
                        found |= contact.lastName.includes(this.searchByLastName)    
                    }
                    if(this.searchByPhone.trim()) {    
                        found |= contact.phone.includes(this.searchByPhone)    
                    }    
                    return found;   
                })   
                console.log(this.filteredContacts);
            }   
        }
    })

</script>